<div class = "chart-container ">
	<div class = "count"><p>Total no of Votes: <%=TamilnaduPoll.all.count%></p></div>
	<div id = "no-of-votes" class = "col-md-6 col-sm-6 col-xs-12 well"><span class="label label-primary">No of Voters above and below 18</span><%= bar_chart TamilnaduPoll.group(:voter).count %></div>
	<div id = "vote_distribution" class = "col-md-6 col-sm-6 col-xs-12 well" ><span class="label label-primary">Vote distribution</span><%= pie_chart TamilnaduPoll.group(:choice).count %></div>
</div>
