<div class = "header">
		<div class = "title class-md-12">QPERWEEK</div>
		<div class = "sub-title class-md-12">
			Know answers to the unknown..! Voice your opinion..!		
	  </div>
</div>
<div class = "container main-div">
	<div class = "col-md-6 left-div">
		<div class = "timer" id="countdown"></div>		
	</div>
	<div class = "col-md-6">
	</div>
</div>