<div class = "header">
		<div class = "title class-md-12">QPERWEEK</div>
		<div class = "sub-title class-md-12">
			Know answers to the unknown..! Voice your opinion..!		
	  </div>
</div>
<div class = "container main-div">
	<div class = "col-md-6 left-div">
		<div class = "timer" id="countdown"></div>		
	</div>
	<div class = "col-md-6 right-div">
		<%=form_for :tamilnadu_poll, url: tamilnadu_polls_submit_path do |f| %>
			<div class = "question-space">
				<p>Who would you vote for in the Upcoming Election?</p>
				<div class = "row">
				<input type="radio" name="radio1" id="radio-1" value="radio-1"/>
				<label for="radio-1">radio–1</label>
			</div>
				<div class = "row">

				<input type="radio" name="radio1" id="radio-1" value="radio-1"/>
				<label for="radio-1">radio–1</label>
			</div>
				<p> Can you vote in the upcoming election? </p>
			</div>
		<%end%>
	</div>
</div>	
