/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body{
	background: url(madras_blur.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
    font-size: 70px;
    color: #fff;
    font-family: 'Concert One', serif;
    padding-left: 10px;
    text-align: left;
}
.sub-title, .text {
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
    font-family: 'Ruda', serif;
    padding-left: 10px;
    text-align: left;
    margin-right: 24px;
}
.timer {
  text-align: center;
  padding-top: 15px;
}

.timer .timer-wrapper {
  display: inline-block;
  width: 100px;
  height: 30px;
}

.timer .timer-wrapper .time {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  font-family: 'Ruda', serif;
}

.timer .timer-wrapper .text {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  font-family: 'Ruda', serif;
}

.right-div {
    text-align: left;
    border-left: 2px solid white;  
}
@media screen and (max-width: 991px) {
  .right-div {
    text-align: left;
    border-left: 0px solid white;
    margin-right: -15px;
  }
}
  
.question-space{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Ruda', serif;
  width: 100%;
  text-align: center;
}

.question-space p{
  font-weight: bold;
}

@media screen and (max-width: 302px) {
  .main-div{
    margin-top: 30px;
  }
}

@media (min-width: 302px) and (max-width: 320px) {
  .main-div{
    margin-left: 0px;
  }
}
@media (min-width:321px ) and (max-width: 991px) {
  .main-div{
    margin-top: 50px;
    margin-left: -25px;
  }
  .right-div{
    margin-left: -8px;
  }
}

@media screen and (min-width:992px){
  .main-div{
    margin-top: 70px;
    margin-left: -12px;
  }
} 

@media (min-width:360px ) and (max-width: 435px) {
  .timer {
    text-align: center;
    padding-top: 15px;
    margin-left: -30px;
    margin-right: -60px;
  }
}

@media (min-width:320px ) and (max-width: 359px) {
  .timer {
    text-align: center;
    font-size: 15px;
    margin-left: -40px;
    margin-right: -60px;
  }
  .title{
    margin-left: -5px;
  }
}