<!DOCTYPE html>
<html>
  <head>
    <title>TamilNadu Virtual Elections-2021 - Qperweek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://cdn.rawgit.com/hilios/jQuery.countdown/2.1.0/dist/jquery.countdown.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Ruda" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
